In [1]:
from pprint import pprint

import numpy as np
import pandas as pd

In [2]:
root = "/Users/runlanlana/Documents/2023_Spring/MIT6.C85_Interactive Data Visualization and Society/Data Client Project/"

In [3]:
main_df = pd.read_csv(root + "dataset-1_central-american-survey/main_table.csv", index_col = 0)
display(main_df.head(3))

main_df.info(verbose = True, show_counts = True)

,start,end,note_confidenciality,organizacion,survey_pid,country,departamento,municipio,neighborhood,rural_urban,...,_tags,rsp_id,family_type_reduced,migrated_yn,dp_ratio,income_per_capita,monthly_expenditure,exp_food_pct,income_sources,migrated_yn_5
0,2021-05-13T09:29:28.324-06:00,2021-05-13T09:59:31.341-06:00,NaN,1,34,SLV,1193,15748,Condominios delgado,2,...,NaN,4998,3,0,0.500000,3.666667,301.0,0.282392,3,0
1,2021-05-13T08:44:14.642-06:00,2021-05-13T09:05:10.406-06:00,NaN,1,34,SLV,1193,15748,Condominios santa maria,2,...,NaN,4997,1,0,0.500000,166.666667,305.0,0.491803,3,0
2,2021-05-13T08:10:59.086-06:00,2021-05-13T08:43:16.923-06:00,NaN,1,34,SLV,1193,15748,Condominios santa maria,2,...,NaN,4996,3,0,0.333333,75.000000,234.0,0.427350,3,0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 4997
Data columns (total 455 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    start                         4998 non-null   object
 1    end                           4998 non-null   object
 2    note_confidenciality          0 non-null      float64
 3    organizacion                  4998 non-null   int64
 4    survey_pid                    4998 non-null   int64
 5    country                       4998 non-null   object
 6    departamento                  4998 non-null   object
 7    municipio                     4998 non-null   object
 8    neighborhood                  4998 non-null   object
 9    rural_urban                   4998 non-null   int64
 10   note_consent_1                0 non-null      float64
 11   note_consent_2                0 non-null      float64
 12   note_consent_3                0 non-null      float64
 13   note_consent_4                0 non-null      float64
 14   note_consent_5                0 non-null      float64
 15   note_consent_6                0 non-null      float64
 16   rsp_sex                       4998 non-null   int64
 17   rsp_age                       4998 non-null   int64
 18   tipo_familia                  4998 non-null   int64
 19   tipo_familia_other            38 non-null     object
 20   hh_size                       4998 non-null   int64
 21   note_roster                   0 non-null      float64
 22   vulnerability_longterm        4998 non-null   object
 23   vulnerability_longterm/1      4998 non-null   int64
 24   vulnerability_longterm/2      4998 non-null   int64
 25   vulnerability_longterm/3      4998 non-null   int64
 26   vulnerability_longterm/4      4998 non-null   int64
 27   vulnerability_longterm/5      4998 non-null   int64
 28   vulnerability_longterm/6      4998 non-null   int64
 29   vulnerability_longterm/99     4998 non-null   int64
 30   note_mig_1                    0 non-null      float64
 31   mig_ext_intention             4998 non-null   int64
 32   mig_ext_pref_motivo           2153 non-null   object
 33   mig_ext_pref_motivo/1         2153 non-null   float64
 34   mig_ext_pref_motivo/2         2153 non-null   float64
 35   mig_ext_pref_motivo/3         2153 non-null   float64
 36   mig_ext_pref_motivo/4         2153 non-null   float64
 37   mig_ext_pref_motivo/5         2153 non-null   float64
 38   mig_ext_pref_motivo/6         2153 non-null   float64
 39   mig_ext_pref_motivo/7         2153 non-null   float64
 40   mig_ext_pref_motivo/8         2153 non-null   float64
 41   mig_ext_pref_motivo/9         2153 non-null   float64
 42   mig_ext_pref_motivo/10        2153 non-null   float64
 43   mig_ext_pref_motivo/11        2153 non-null   float64
 44   mig_ext_pref_motivo/12        2153 non-null   float64
 45   mig_ext_pref_motivo/13        2153 non-null   float64
 46   mig_ext_pref_motivo/14        2153 non-null   float64
 47   mig_ext_pref_motivo/15        2153 non-null   float64
 48   mig_ext_pref_motivo/16        2153 non-null   float64
 49   mig_ext_pref_motivo/99        2153 non-null   float64
 50   mig_ext_plan_12months         2153 non-null   float64
 51   mig_ext_pref_no_plan          1812 non-null   object
 52   mig_ext_pref_no_plan/1        1812 non-null   float64
 53   mig_ext_pref_no_plan/2        1812 non-null   float64
 54   mig_ext_pref_no_plan/3        1812 non-null   float64
 55   mig_ext_pref_no_plan/4        1812 non-null   float64
 56   mig_ext_pref_no_plan/5        1812 non-null   float64
 57   mig_ext_pref_no_plan/6        1812 non-null   float64
 58   mig_ext_pref_no_plan/7        1812 non-null   float64
 59   mig_ext_pref_no_plan/8        1812 non-null   float64
 60   mig_ext_pref_no_plan/9        1812 non-null   float64
 61   mig_ext_pref_no_plan/10       1812 non-null   float64
 62   mig_ext_pref_no_plan/99       1812 non-null   float64
 63   mig_ext_preparacion           322 non-null    float64
 64   mig_ext_pref_preparacion      160 non-null    object
 65   mig_ext_pref_preparacion/1    160 non-null    float64
 66   mig_ext_pref_preparacion/2    160 non-null    float64
 67   mig_ext_pref_preparacion/3    160 non-null    float64
 68   mig_ext_pref_preparacion/4    160 non-null    float64
 69   mig_ext_pref_preparacion/5    160 non-null    float64
 70   mig_ext_pref_preparacion/6    160 non-null    float64
 71   mig_ext_pref_preparacion/7    160 non-null    float64
 72   mig_ext_pref_preparacion/8    160 non-null    float64
 73   mig_ext_pref_preparacion/9    160 non-null    float64
 74   mig_ext_pref_preparacion/99   160 non-null    float64
 75   note_mig_1_1                  0 non-null      float64
 76   mig_int_intention             4998 non-null   int64
 77   mig_int_pref_motivo           1183 non-null   object
 78   mig_int_pref_motivo/1         1183 non-null   float64
 79   mig_int_pref_motivo/2         1183 non-null   float64
 80   mig_int_pref_motivo/3         1183 non-null   float64
 81   mig_int_pref_motivo/4         1183 non-null   float64
 82   mig_int_pref_motivo/5         1183 non-null   float64
 83   mig_int_pref_motivo/6         1183 non-null   float64
 84   mig_int_pref_motivo/7         1183 non-null   float64
 85   mig_int_pref_motivo/8         1183 non-null   float64
 86   mig_int_pref_motivo/9         1183 non-null   float64
 87   mig_int_pref_motivo/10        1183 non-null   float64
 88   mig_int_pref_motivo/11        1183 non-null   float64
 89   mig_int_pref_motivo/99        1183 non-null   float64
 90   mig_int_plan_12months         1183 non-null   float64
 91   mig_int_pref_no_plan          1004 non-null   object
 92   mig_int_pref_no_plan/1        1004 non-null   float64
 93   mig_int_pref_no_plan/2        1004 non-null   float64
 94   mig_int_pref_no_plan/3        1004 non-null   float64
 95   mig_int_pref_no_plan/4        1004 non-null   float64
 96   mig_int_pref_no_plan/5        1004 non-null   float64
 97   mig_int_pref_no_plan/6        1004 non-null   float64
 98   mig_int_pref_no_plan/7        1004 non-null   float64
 99   mig_int_pref_no_plan/8        1004 non-null   float64
 100  mig_int_pref_no_plan/9        1004 non-null   float64
 101  mig_int_pref_no_plan/99       1004 non-null   float64
 102  mig_int_preparacion           163 non-null    float64
 103  mig_int_pref_preparacion      66 non-null     object
 104  mig_int_pref_preparacion/1    66 non-null     float64
 105  mig_int_pref_preparacion/2    66 non-null     float64
 106  mig_int_pref_preparacion/3    66 non-null     float64
 107  mig_int_pref_preparacion/4    66 non-null     float64
 108  mig_int_pref_preparacion/5    66 non-null     float64
 109  mig_int_pref_preparacion/6    66 non-null     float64
 110  mig_int_pref_preparacion/99   66 non-null     float64
 111  why_int_not_ext               269 non-null    object
 112  mig_motivo_stay               2486 non-null   object
 113  mig_motivo_stay/1             2486 non-null   float64
 114  mig_motivo_stay/2             2486 non-null   float64
 115  mig_motivo_stay/3             2486 non-null   float64
 116  mig_motivo_stay/4             2486 non-null   float64
 117  mig_motivo_stay/5             2486 non-null   float64
 118  mig_motivo_stay/6             2486 non-null   float64
 119  mig_motivo_stay/7             2486 non-null   float64
 120  mig_motivo_stay/8             2486 non-null   float64
 121  mig_motivo_stay/9             2486 non-null   float64
 122  mig_motivo_stay/99            2486 non-null   float64
 123  mig_motivo_stay_other         112 non-null    object
 124  note_mig_2                    0 non-null      float64
 125  no_mig_ext                    4998 non-null   int64
 126  mig_ext_opinion               4998 non-null   int64
 127  mig_ext_opinion_good          3329 non-null   object
 128  mig_ext_opinion_good/1        3329 non-null   float64
 129  mig_ext_opinion_good/2        3329 non-null   float64
 130  mig_ext_opinion_good/3        3329 non-null   float64
 131  mig_ext_opinion_good/4        3329 non-null   float64
 132  mig_ext_opinion_good/5        3329 non-null   float64
 133  mig_ext_opinion_good/6        3329 non-null   float64
 134  mig_ext_opinion_good/7        3329 non-null   float64
 135  mig_ext_opinion_good/99       3329 non-null   float64
 136  mig_ext_opinion_bad           3043 non-null   object
 137  mig_ext_opinion_bad/1         3043 non-null   float64
 138  mig_ext_opinion_bad/2         3043 non-null   float64
 139  mig_ext_opinion_bad/3         3043 non-null   float64
 140  mig_ext_opinion_bad/4         3043 non-null   float64
 141  mig_ext_opinion_bad/5         3043 non-null   float64
 142  mig_ext_opinion_bad/6         3043 non-null   float64
 143  mig_ext_opinion_bad/7         3043 non-null   float64
 144  mig_ext_opinion_bad/8         3043 non-null   float64
 145  mig_ext_opinion_bad/9         3043 non-null   float64
 146  mig_ext_opinion_bad/99        3043 non-null   float64
 147  note_remesa_1                 0 non-null      float64
 148  remittances_yn                4998 non-null   int64
 149  note_remesa_2                 0 non-null      float64
 150  remesa_parentesco             1447 non-null   object
 151  remesa_parentesco/1           1447 non-null   float64
 152  remesa_parentesco/2           1447 non-null   float64
 153  remesa_parentesco/3           1447 non-null   float64
 154  remesa_parentesco/4           1447 non-null   float64
 155  remesa_parentesco/5           1447 non-null   float64
 156  remesa_parentesco/6           1447 non-null   float64
 157  remesa_parentesco/7           1447 non-null   float64
 158  remesa_parentesco/8           1447 non-null   float64
 159  remesa_parentesco/9           1447 non-null   float64
 160  remesa_parentesco/10          1447 non-null   float64
 161  remesa_parentesco/11          1447 non-null   float64
 162  remesa_parentesco/12          1447 non-null   float64
 163  remesa_parentesco/13          1447 non-null   float64
 164  remesa_parentesco/14          1447 non-null   float64
 165  remesa_parentesco/15          1447 non-null   float64
 166  remesa_parentesco/99          1447 non-null   float64
 167  no_benifciaries               1447 non-null   float64
 168  remesa_remit_ocupacion        1447 non-null   float64
 169  remesa_aware                  1447 non-null   float64
 170  remesa_years                  1172 non-null   float64
 171  remesa_months                 1172 non-null   float64
 172  remesa_freq                   1447 non-null   float64
 173  remesa_covid                  1447 non-null   float64
 174  remesa_tipo                   1447 non-null   float64
 175  remesa_amount_consent         1415 non-null   float64
 176  remesa_currency               1027 non-null   float64
 177  remesa_amount                 1027 non-null   float64
 178  remesa_efectivo_uso           1416 non-null   object
 179  remesa_efectivo_uso/1         1416 non-null   float64
 180  remesa_efectivo_uso/2         1416 non-null   float64
 181  remesa_efectivo_uso/3         1416 non-null   float64
 182  remesa_efectivo_uso/4         1416 non-null   float64
 183  remesa_efectivo_uso/5         1416 non-null   float64
 184  remesa_efectivo_uso/6         1416 non-null   float64
 185  remesa_efectivo_uso/7         1416 non-null   float64
 186  remesa_efectivo_uso/8         1416 non-null   float64
 187  remesa_efectivo_uso/9         1416 non-null   float64
 188  remesa_efectivo_uso/10        1416 non-null   float64
 189  remesa_efectivo_uso/11        1416 non-null   float64
 190  remesa_efectivo_uso/12        1416 non-null   float64
 191  remesa_efectivo_uso/13        1416 non-null   float64
 192  remesa_efectivo_uso/14        1416 non-null   float64
 193  remesa_efectivo_uso/15        1416 non-null   float64
 194  remesa_efectivo_uso/16        1416 non-null   float64
 195  remesa_efectivo_uso/99        1416 non-null   float64
 196  note_remesas_parity           0 non-null      float64
 197  remesa_efectivo_uso_pct/1     1145 non-null   float64
 198  remesa_efectivo_uso_pct/2     532 non-null    float64
 199  remesa_efectivo_uso_pct/3     34 non-null     float64
 200  remesa_efectivo_uso_pct/4     108 non-null    float64
 201  remesa_efectivo_uso_pct/5     491 non-null    float64
 202  remesa_efectivo_uso_pct/6     84 non-null     float64
 203  remesa_efectivo_uso_pct/7     48 non-null     float64
 204  remesa_efectivo_uso_pct/8     11 non-null     float64
 205  remesa_efectivo_uso_pct/9     4 non-null      float64
 206  remesa_efectivo_uso_pct/10    16 non-null     float64
 207  remesa_efectivo_uso_pct/11    10 non-null     float64
 208  remesa_efectivo_uso_pct/12    29 non-null     float64
 209  remesa_efectivo_uso_pct/13    5 non-null      float64
 210  remesa_efectivo_uso_pct/14    24 non-null     float64
 211  remesa_efectivo_uso_pct/15    13 non-null     float64
 212  remesa_efectivo_uso_pct/16    35 non-null     float64
 213  note_remesa_suma              0 non-null      float64
 214  remesa_efectivo_cobro         1416 non-null   object
 215  remesa_efectivo_cobro/1       1416 non-null   float64
 216  remesa_efectivo_cobro/2       1416 non-null   float64
 217  remesa_efectivo_cobro/3       1416 non-null   float64
 218  remesa_efectivo_cobro/4       1416 non-null   float64
 219  remesa_efectivo_cobro/5       1416 non-null   float64
 220  remesa_efectivo_cobro/6       1416 non-null   float64
 221  remesa_efectivo_cobro/7       1416 non-null   float64
 222  remesa_efectivo_cobro/8       1408 non-null   float64
 223  remesa_efectivo_cobro/9       1408 non-null   float64
 224  remesa_efectivo_cobro/10      1408 non-null   float64
 225  remesa_efectivo_cobro/11      1408 non-null   float64
 226  remesa_efectivo_cobro/99      1416 non-null   float64
 227  remesa_efectivo_who           1416 non-null   float64
 228  sexo_ambos                    1416 non-null   float64
 229  remesa_especie                155 non-null    object
 230  remesa_especie/1              155 non-null    float64
 231  remesa_especie/2              155 non-null    float64
 232  remesa_especie/3              155 non-null    float64
 233  remesa_especie/4              155 non-null    float64
 234  remesa_especie/5              155 non-null    float64
 235  remesa_especie/6              155 non-null    float64
 236  remesa_especie/7              155 non-null    float64
 237  remesa_especie/8              155 non-null    float64
 238  remesa_especie/9              155 non-null    float64
 239  remesa_especie/99             155 non-null    float64
 240  note_mig_3                    0 non-null      float64
 241  mig_pend_ppl                  4998 non-null   int64
 242  note_mig_4                    0 non-null      float64
 243  mig_int_ppl                   4998 non-null   int64
 244  note_fcs_1                    0 non-null      float64
 245  note_fcs_2                    0 non-null      float64
 246  fcs_staples                   4998 non-null   int64
 247  fcs_pulses                    4998 non-null   int64
 248  fcs_dairy                     4998 non-null   int64
 249  fcs_proteins                  4998 non-null   int64
 250  fcs_flesh_meat                4998 non-null   int64
 251  fcs_organ_meat                4998 non-null   int64
 252  fcs_fish                      4998 non-null   int64
 253  fcs_eggs                      4998 non-null   int64
 254  fcs_veg                       4998 non-null   int64
 255  fcs_orange_veg                4998 non-null   int64
 256  fcs_green_veg                 4998 non-null   int64
 257  fcs_fruits                    4998 non-null   int64
 258  fcs_orange_fruit              4998 non-null   int64
 259  fcs_fats                      4998 non-null   int64
 260  fcs_sugars                    4998 non-null   int64
 261  fcs_condiments                4998 non-null   int64
 262  note_rcsi                     0 non-null      float64
 263  rcsi_less_qlty                4998 non-null   int64
 264  rcsi_borrow                   4998 non-null   int64
 265  rcsi_meal_adult               4998 non-null   int64
 266  rcsi_meal_size                4998 non-null   int64
 267  rcsi_meal_nb                  4998 non-null   int64
 268  rcsi_no_eat                   4998 non-null   int64
 269  note_lcsi                     0 non-null      float64
 270  lcsi_food_credit              4998 non-null   int64
 271  lcsi_borrow                   4998 non-null   int64
 272  lcsi_sent_family              4998 non-null   int64
 273  lcsi_reduced_exp              4998 non-null   int64
 274  lcsi_sold_hh_assets           4998 non-null   int64
 275  lcsi_sold_livelihoods_assets  4998 non-null   int64
 276  lcsi_sold_vehicle             4998 non-null   int64
 277  lcsi_sold_properties          4998 non-null   int64
 278  lcsi_school_dropout           4998 non-null   int64
 279  lcsi_informal_job             4998 non-null   int64
 280  lcsi_ext_migration            4998 non-null   int64
 281  lcsi_food_for_work            4998 non-null   int64
 282  lcsi_begging                  4998 non-null   int64
 283  note_gastos_mensual           0 non-null      float64
 284  exp_currency                  4998 non-null   int64
 285  exp_monthly_food              4998 non-null   float64
 286  exp_monthly_drinking_water    4998 non-null   float64
 287  exp_monthly_water             4998 non-null   float64
 288  exp_monthly_rent              4998 non-null   float64
 289  exp_monthly_electric_power    4998 non-null   float64
 290  exp_monthly_hygiene           4998 non-null   float64
 291  exp_monthly_transport         4998 non-null   float64
 292  exp_monthly_communication     4998 non-null   float64
 293  exp_monthly_fuel              4998 non-null   float64
 294  exp_monthly_other             4998 non-null   float64
 295  income_exp_food               4998 non-null   int64
 296  income_exp_other              4998 non-null   int64
 297  note_gastos_6meses            0 non-null      float64
 298  exp_6months_currency          4998 non-null   int64
 299  exp_6months_health            4998 non-null   float64
 300  exp_6months_clothing          4998 non-null   float64
 301  exp_6months_education         4998 non-null   float64
 302  exp_6months_debt              4998 non-null   float64
 303  exp_6months_social            4998 non-null   float64
 304  exp_6months_inputs            4998 non-null   float64
 305  exp_6months_savings           4998 non-null   float64
 306  exp_6months_repairhouse       4998 non-null   float64
 307  income_sufficiency_6m         4998 non-null   int64
 308  note_mdv1                     0 non-null      float64
 309  hh_income_first               4998 non-null   int64
 310  hh_income_first_other         207 non-null    object
 311  hh_income_first_pct           4998 non-null   int64
 312  hh_income_first_temp          4998 non-null   int64
 313  hh_income_second              4998 non-null   int64
 314  hh_income_second_other        201 non-null    object
 315  hh_income_second_pct          2285 non-null   float64
 316  hh_income_second_temp         2285 non-null   float64
 317  hh_income_third               2285 non-null   float64
 318  hh_income_third_other         48 non-null     object
 319  hh_income_third_pct           496 non-null    float64
 320  hh_income_third_temp          496 non-null    float64
 321  note_mdv2                     0 non-null      float64
 322  mdv_imp_covid_job             4998 non-null   int64
 323  mdv_imp_covid_ing             4998 non-null   int64
 324  avg_income_consent            4998 non-null   int64
 325  avg_income_currency           3083 non-null   float64
 326  avg_income_amount             3083 non-null   float64
 327  saving_yn                     4998 non-null   int64
 328  saving_months                 500 non-null    float64
 329  debt_yn                       4998 non-null   int64
 330  mdv_deuda                     1466 non-null   float64
 331  mdv_deuda_fuente              1466 non-null   float64

In [4]:
# get municipal labels
municipal_labels = pd.read_csv(root + "utilities/municipio_labels.csv")
display(municipal_labels.head(3))
# merge with main
main_df = main_df.merge(municipal_labels, how = 'left', 
                   on = 'municipio')

  municipio municipio_label
0    GT1612         Cahabon
1    GT1614          Chahal
2    GT1613          Chisec

### Clean HH size

There are 23 hhs indicating size of 0. prob by mistaken. Refill the values based on the type of family (`tipo_familia`)

In [5]:
main_df[main_df['hh_size'] == 0]['tipo_familia'].value_counts()

9    12
1     6
2     3
8     1
4     1
Name: tipo_familia, dtype: int64

In [6]:
print(f"Number of HH with size 0: {len(main_df[main_df['hh_size'] == 0])}")
# only one person
main_df.loc[(main_df['hh_size'] == 0) & (main_df['tipo_familia'] == 9), 'hh_size'] = 1
# biparental
main_df.loc[(main_df['hh_size'] == 0) & (main_df['tipo_familia'] == 1), 'hh_size'] = 3 
# single parent - mother
main_df.loc[(main_df['hh_size'] == 0) & (main_df['tipo_familia'] == 2), 'hh_size'] = 2
# reconstituted
main_df.loc[(main_df['hh_size'] == 0) & (main_df['tipo_familia'] == 4), 'hh_size'] = 3
# childless union
main_df.loc[(main_df['hh_size'] == 0) & (main_df['tipo_familia'] == 8), 'hh_size'] = 2

Number of HH with size 0: 23

In [7]:
main_df['staying'] = ~(main_df['mig_motivo_stay'].isna())
main_df['staying'] = main_df['staying'].map({True: "Yes", False: "No / Not Sure"})

main_df['migrating_ext_intent_label'] = main_df['mig_ext_intention'].map({
    0: "Not migrate",
    1: "Migrate",
    99: "Not sure"
})
main_df['migrating_int_intent_label'] = main_df['mig_ext_intention'].map({
    0: "Not migrate",
    1: "Migrate",
    99: "Not sure"
})

# Reasons to migrate externally

In [8]:
cols_to_keep = [f'mig_ext_pref_motivo/{n}' for n in range(1, 17)] + ['mig_ext_pref_motivo/99']
mig_ext_motivo_df = main_df[['mig_ext_intention', 'mig_ext_plan_12months'] + cols_to_keep]
mig_ext_motivo_df

,mig_ext_intention,mig_ext_plan_12months,mig_ext_pref_motivo/1,mig_ext_pref_motivo/2,mig_ext_pref_motivo/3,mig_ext_pref_motivo/4,mig_ext_pref_motivo/5,mig_ext_pref_motivo/6,mig_ext_pref_motivo/7,mig_ext_pref_motivo/8,mig_ext_pref_motivo/9,mig_ext_pref_motivo/10,mig_ext_pref_motivo/11,mig_ext_pref_motivo/12,mig_ext_pref_motivo/13,mig_ext_pref_motivo/14,mig_ext_pref_motivo/15,mig_ext_pref_motivo/16,mig_ext_pref_motivo/99
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4994,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4995,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# mig_ext_motivo_df_pct = mig_ext_motivo_df[mig_ext_motivo_df['mig_ext_intention'] == 1].mean().to_frame(name = 'percentage')
# mig_ext_motivo_df_pct.drop(index = ['mig_ext_intention', 'mig_ext_plan_12months'], inplace = True)
# mig_ext_motivo_df_pct.reset_index(inplace = True, names = 'motivation_choice')
# mig_ext_motivo_df_pct['motivation_choice'] = mig_ext_motivo_df_pct['motivation_choice'].str.replace("mig_ext_pref_motivo/", "")
# mig_ext_motivo_df_pct['percentage'] = mig_ext_motivo_df_pct['percentage'] * 100

choice_labels = {"1": 'Search for a better job',
                 "2": "Unemployment",
                 "3": "Deterioration of livelihoods due to natural hazards",
                 "4": "By the direct impact of a natural hazard",
                 "5": "Due to loss of land (use change)",
                 "6": "Lack of money for food",
                 "7": "Lack of money for other basic needs",
                 "8": "To send remittances",
                 "9": "For study",
                 "10": "Domestic violence",
                 "11": "Unsafety",
                 "12": "Family reunification",
                 "13": "For cultural reasons or custom",
                 "14": "For healthcare",
                 "15": "Adventure Tourism",
                 "16": "Other",
                 "99": "Not sure"
                 }
# mig_ext_motivo_df_pct['motivation'] = mig_ext_motivo_df_pct['motivation_choice'].map(choice_labels)
# mig_ext_motivo_df_pct.to_csv("./data/mig_ext_motivat_pct.csv", index = False)
# mig_ext_motivo_df_pct

In [12]:
mig_ext_motivo_df_pct_by_plan = mig_ext_motivo_df[mig_ext_motivo_df['mig_ext_intention'] == 1].groupby('mig_ext_plan_12months').mean()

mig_ext_motivo_df_pct_by_plan.drop(columns = ['mig_ext_intention'], inplace = True)
mig_ext_motivo_df_pct_by_plan.reset_index(inplace = True)
mig_ext_motivo_df_pct_by_plan = mig_ext_motivo_df_pct_by_plan.melt(id_vars = 'mig_ext_plan_12months', var_name = 'motivation_choice', value_name = 'percentage')
mig_ext_motivo_df_pct_by_plan['motivation_choice'] = mig_ext_motivo_df_pct_by_plan['motivation_choice'].str.replace("mig_ext_pref_motivo/", "")
mig_ext_motivo_df_pct_by_plan['motivation'] = mig_ext_motivo_df_pct_by_plan['motivation_choice'].map(choice_labels)
mig_ext_motivo_df_pct_by_plan['percentage'] = mig_ext_motivo_df_pct_by_plan['percentage'] * 100

ynns_labels = {1: "Yes", 0: "No", 99: "Not sure"}

mig_ext_motivo_df_pct_by_plan['mig_ext_plan_12months'] = mig_ext_motivo_df_pct_by_plan['mig_ext_plan_12months'].map(ynns_labels)
mig_ext_motivo_df_pct_by_plan.rename(columns = 
                                     {'mig_ext_plan_12months': "Planning to Move Within 12 Months"}, 
                                     inplace = True)
mig_ext_motivo_df_pct_by_plan.to_csv('./data/mig_ext_motivat_pct_by_plan.csv', index = False)
mig_ext_motivo_df_pct_by_plan.head()

,Planning to Move Within 12 Months,motivation_choice,percentage,motivation
0,No,1,82.726269,Search for a better job
1,Yes,1,83.850932,Search for a better job
2,Not sure,1,84.210526,Search for a better job
3,No,2,29.415011,Unemployment
4,Yes,2,38.819876,Unemployment

# Reasons to migrate internally

In [13]:
cols_to_keep = [f'mig_int_pref_motivo/{n}' for n in range(1, 12)] + ['mig_int_pref_motivo/99']
mig_int_motivo_df = main_df[['mig_int_intention', 'mig_int_plan_12months'] + cols_to_keep]

mig_int_motivo_df_pct = mig_int_motivo_df[mig_int_motivo_df['mig_int_intention'] == 1].mean().to_frame(name = 'percentage')
mig_int_motivo_df_pct.drop(index = ['mig_int_intention', 'mig_int_plan_12months'], inplace = True)
mig_int_motivo_df_pct.reset_index(inplace = True, names = 'motivation_choice')
mig_int_motivo_df_pct['motivation_choice'] = mig_int_motivo_df_pct['motivation_choice'].str.replace("mig_int_pref_motivo/", "")
mig_int_motivo_df_pct['percentage'] = mig_int_motivo_df_pct['percentage'] * 100

choice_labels = {"1": 'Search for a better job',
                 "2": "Family reunification",
                 "3": "Threats/extortion",
                 "4": "Domestic violence",
                 "5": "To find a larger/more comfortable space for family",
                 "6": "For independence or starting own family",
                 "7": "Better academic opportunities",
                 "8": "Deterioration of livelihoods due to natural hazards",
                 "9": "Direct impact of natural hazard",
                 "10": "Due to loss of land (use change)",
                 "11": "Other",
                 "99": "Not sure"
                 }
                 
mig_int_motivo_df_pct['motivation'] = mig_int_motivo_df_pct['motivation_choice'].map(choice_labels)
mig_int_motivo_df_pct.to_csv('./data/mig_int_motivat_pct.csv', index = False)
mig_int_motivo_df_pct

,motivation_choice,percentage,motivation
0,1,83.431953,Search for a better job
1,2,5.071851,Family reunification
2,3,3.719358,Threats/extortion
3,4,0.507185,Domestic violence
4,5,18.681319,To find a larger/more comfortable space for fa...
5,6,6.255283,For independence or starting own family
6,7,8.453085,Better academic opportunities
7,8,4.311074,Deterioration of livelihoods due to natural ha...
8,9,3.296703,Direct impact of natural hazard
9,10,0.507185,Due to loss of land (use change)
10,11,14.032122,Other
11,99,0.591716,Not sure

In [14]:
mig_int_motivo_df_pct_by_plan = mig_int_motivo_df[mig_int_motivo_df['mig_int_intention'] == 1].groupby('mig_int_plan_12months').mean()

mig_int_motivo_df_pct_by_plan.drop(columns = ['mig_int_intention'], inplace = True)
mig_int_motivo_df_pct_by_plan.reset_index(inplace = True)
mig_int_motivo_df_pct_by_plan = mig_int_motivo_df_pct_by_plan.melt(id_vars = 'mig_int_plan_12months', var_name = 'motivation_choice', value_name = 'percentage')
mig_int_motivo_df_pct_by_plan['motivation_choice'] = mig_int_motivo_df_pct_by_plan['motivation_choice'].str.replace("mig_int_pref_motivo/", "")
mig_int_motivo_df_pct_by_plan['motivation'] = mig_int_motivo_df_pct_by_plan['motivation_choice'].map(choice_labels)
mig_int_motivo_df_pct_by_plan['percentage'] = mig_int_motivo_df_pct_by_plan['percentage'] * 100

mig_int_motivo_df_pct_by_plan['mig_int_plan_12months'] = mig_int_motivo_df_pct_by_plan['mig_int_plan_12months'].map(ynns_labels)
mig_int_motivo_df_pct_by_plan.rename(columns = 
                                     {'mig_int_plan_12months': "Planning to Move Within 12 Months"}, 
                                     inplace = True)
mig_int_motivo_df_pct_by_plan.to_csv('./data/mig_int_motivat_pct_by_plan.csv', index = False)
mig_int_motivo_df_pct_by_plan.head()

,Planning to Move Within 12 Months,motivation_choice,percentage,motivation
0,No,1,84.262948,Search for a better job
1,Yes,1,79.754601,Search for a better job
2,Not sure,1,68.750000,Search for a better job
3,No,2,4.681275,Family reunification
4,Yes,2,6.748466,Family reunification

# Reasons to stay

In [15]:
cols_to_keep = [f'mig_motivo_stay/{n}' for n in range(1, 10)] + ['mig_motivo_stay/99']

mig_stay_motivo_df = main_df[~main_df['mig_motivo_stay'].isna()][cols_to_keep]
mig_stay_motivo_df_pct = mig_stay_motivo_df.mean().to_frame(name = 'percentage')
mig_stay_motivo_df_pct.reset_index(inplace = True, names = 'motivation_choice')
mig_stay_motivo_df_pct['motivation_choice'] = mig_stay_motivo_df_pct['motivation_choice'].str.replace("mig_motivo_stay/", "")
mig_stay_motivo_df_pct['percentage'] = mig_stay_motivo_df_pct['percentage'] * 100

choice_labels = {"1": "Family separation",
                 "2": "Economic stability",
                 "3": "Availability of job opportunities",
                 "4": "The place currently living is safe",
                 "5": "Rootedness/sense of belonging",
                 "6": "Enjoying social status",
                 "7": "Availability of good public services",
                 "8": "Can afford good basic needs",
                 "9": "Other",
                 "99": "Not sure"
                 }
mig_stay_motivo_df_pct['motivation'] = mig_stay_motivo_df_pct['motivation_choice'].map(choice_labels)
mig_stay_motivo_df_pct.to_csv('./data/mig_stay_motivat_pct.csv')
mig_stay_motivo_df_pct

  motivation_choice  percentage                            motivation
0                 1   65.647627                     Family separation
1                 2   13.354787                    Economic stability
2                 3    6.637168     Availability of job opportunities
3                 4   40.547064    The place currently living is safe
4                 5   22.968624         Rootedness/sense of belonging
5                 6    1.488335                Enjoying social status
6                 7    4.344328  Availability of good public services
7                 8    3.620274           Can afford good basic needs
8                 9   12.469831                                 Other
9                99    3.620274                              Not sure

# Convert currency to USD: income, debt, remittance, and expenses

In [16]:
main_df['avg_income_currency'].unique()
# 1 dollars - el salvador 
# 2 lempiras - honduras
# 3 quetzals - guatemala

array([nan,  1.,  3.,  2.])

In [17]:
def fill_na_currency(currency_column):
    print(f"missing (before): {sum(main_df[currency_column].isna())}")
    main_df.loc[(main_df[currency_column].isna()) & (main_df['country'] == 'SLV'),
                    currency_column] = 1
    main_df.loc[(main_df[currency_column].isna()) & (main_df['country'] == 'HND'),
                    currency_column] = 2
    main_df.loc[(main_df[currency_column].isna()) & (main_df['country'] == 'GT'),
                    currency_column] = 3
    print(f"missing (after): {sum(main_df[currency_column].isna())}")
    

def convert_curr_to_usd(val_colname, currency_colname):
    # convert amount to US dollars
    main_df.loc[main_df[currency_colname] == 1, f"{val_colname}_usd"] = main_df[val_colname]
    main_df.loc[main_df[currency_colname] == 2, f"{val_colname}_usd"] = main_df[val_colname] * 0.041
    main_df.loc[main_df[currency_colname] == 3, f"{val_colname}_usd"] = main_df[val_colname] * 0.13

In [18]:
# fill missing currencies based on countries
fill_na_currency('avg_income_currency')
convert_curr_to_usd('avg_income_amount', 'avg_income_currency')
# main_df.loc[(main_df['avg_income_currency'].isna()) & (main_df['country'] == 'SLV'),
#                  'avg_income_currency'] = 1
# main_df.loc[(main_df['avg_income_currency'].isna()) & (main_df['country'] == 'HND'),
#                  'avg_income_currency'] = 2
# main_df.loc[(main_df['avg_income_currency'].isna()) & (main_df['country'] == 'GT'),
#                  'avg_income_currency'] = 3
# print(sum(main_df['avg_income_currency'].isna()))
# convert amount to US dollars
# main_df.loc[main_df['avg_income_currency'] == 1, 'avg_income_amt_dollars'] = main_df['avg_income_amount']
# main_df.loc[main_df['avg_income_currency'] == 2, 'avg_income_amt_dollars'] = main_df['avg_income_amount'] * 0.041
# main_df.loc[main_df['avg_income_currency'] == 3, 'avg_income_amt_dollars'] = main_df['avg_income_amount'] * 0.13

missing (before): 1915
missing (after): 0

In [19]:
fill_na_currency('debt_currency')
convert_curr_to_usd('debt_amount', 'debt_currency')
# print(f"missing (before): {sum(main_df['debt_currency'].isna())}")
# main_df.loc[(main_df['debt_currency'].isna()) & (main_df['country'] == 'SLV'),
#                  'debt_currency'] = 1
# main_df.loc[(main_df['debt_currency'].isna()) & (main_df['country'] == 'HND'),
#                  'debt_currency'] = 2
# main_df.loc[(main_df['debt_currency'].isna()) & (main_df['country'] == 'GT'),
#                  'debt_currency'] = 3
# print(f"missing (after): {sum(main_df['debt_currency'].isna())}")

# main_df.loc[main_df['debt_currency'] == 1, 'debt_amount_dollars'] = main_df['debt_amount']
# main_df.loc[main_df['debt_currency'] == 2, 'debt_amount_dollars'] = main_df['debt_amount'] * 0.041
# main_df.loc[main_df['debt_currency'] == 3, 'debt_amount_dollars'] = main_df['debt_amount'] * 0.13

missing (before): 3924
missing (after): 0

In [20]:
print(main_df['remesa_currency'].unique())
main_df['remesa_currency'].value_counts()

[nan  1.  2.  3.]

1.0    607
3.0    248
2.0    172
Name: remesa_currency, dtype: int64

In [21]:
fill_na_currency('remesa_currency')
convert_curr_to_usd('remesa_amount', 'remesa_currency')

missing (before): 3971
missing (after): 0

In [22]:
print(main_df['exp_currency'].unique())
main_df['exp_currency'].value_counts()

[1 2 3]

3    1726
1    1705
2    1567
Name: exp_currency, dtype: int64

In [23]:
print(main_df['exp_6months_currency'].unique())
main_df['exp_6months_currency'].value_counts()

[1 2 3]

3    1732
1    1690
2    1576
Name: exp_6months_currency, dtype: int64

In [24]:
exp_col_list = ['exp_monthly_food', 'exp_monthly_drinking_water', 'exp_monthly_water',
                'exp_monthly_rent', 'exp_monthly_electric_power', 'exp_monthly_hygiene',
                'exp_monthly_transport', 'exp_monthly_communication', 'exp_monthly_fuel',
                'exp_monthly_other']
# fill_na_currency('remesa_currency')
for feature in exp_col_list:
    convert_curr_to_usd(feature, 'exp_currency')
    
exp6m_col_list = ['exp_6months_health', 'exp_6months_clothing', 'exp_6months_education',
                  'exp_6months_debt', 'exp_6months_social', 'exp_6months_inputs',
                  'exp_6months_savings', 'exp_6months_repairhouse']
for feature in exp6m_col_list:
    convert_curr_to_usd(feature, 'exp_6months_currency')

# Roster data: summarize and merge with main_df

In [25]:
roster_df = pd.read_csv(root + "dataset-1_central-american-survey/hh_roster.csv", index_col = 0)
roster_df.head(3)

,hh_sex,hh_age,cond_migracion,escolaridad,work_30days,mig_ocupacion,orig_ocupacion,student_status,modalidad_educacion,no_escuela_why,...,_submission__id,_submission__uuid,_submission__submission_time,_submission__validation_status,_submission__notes,_submission__status,_submission__submitted_by,_submission__tags,country,migrated_yn
0,2,22,1,4.0,0.0,5.0,NaN,88.0,NaN,NaN,...,174925765,ccfb10fe-7afa-48d8-bea2-08c40c24d7b6,2021-04-30T00:34:53,NaN,[],submitted_via_web,NaN,[],GT,0
1,1,29,1,5.0,0.0,5.0,NaN,88.0,NaN,NaN,...,174925765,ccfb10fe-7afa-48d8-bea2-08c40c24d7b6,2021-04-30T00:34:53,NaN,[],submitted_via_web,NaN,[],GT,0
2,2,59,1,1.0,0.0,5.0,NaN,NaN,NaN,NaN,...,174925765,ccfb10fe-7afa-48d8-bea2-08c40c24d7b6,2021-04-30T00:34:53,NaN,[],submitted_via_web,NaN,[],GT,0

### breastfeeding and prenancies

In [26]:
print(roster_df['breastfeeding_yn'].value_counts())
print(roster_df['pregnant_yn'].value_counts())

0.0     6397
1.0      544
99.0       9
Name: breastfeeding_yn, dtype: int64
0.0     6702
1.0      232
99.0      16
Name: pregnant_yn, dtype: int64

In [27]:
# change 99 (not sure) to 0 (no)
roster_df.loc[roster_df['breastfeeding_yn'] == 99, 'breastfeeding_yn'] = 0
roster_df.loc[roster_df['pregnant_yn'] == 99, 'pregnant_yn'] = 0

roster_df.loc[roster_df['escolaridad'] == 99, 'escolaridad'] = 0 # highest level of education

roster_df['is_child'] = roster_df['hh_age'] < 15 # child is defined as age under 15
roster_df['is_elder'] = roster_df['hh_age'] >= 65

roster_df['vulnerability_disability'] = roster_df['vulnerability/1'] == 1
roster_df['vulnerability_chronic'] = roster_df['vulnerability/2'] == 1

In [28]:
hh_composition = roster_df.groupby('_submission__uuid').agg({'escolaridad' : 'max',
                                            'hh_age': 'mean',
                                            'pregnant_yn': 'max',
                                            'breastfeeding_yn': 'max',
                                            'is_child': 'sum',
                                            'is_elder': 'sum',
                                            'vulnerability_disability': 'sum',
                                            'vulnerability_chronic': 'sum'})
hh_composition.reset_index(inplace = True)
hh_composition.rename(columns = {'escolaridad': 'highest_educ',
                                 'hh_age': 'avg_age',
                                 'pregnant_yn': 'has_pregnant',
                                 'breastfeeding_yn': 'has_breastfeeding',
                                 'is_child': 'num_child_15',
                                 'is_elder': 'num_elderly_65',
                                 'vulnerability_disability': 'num_disability',
                                 'vulnerability_chronic': 'num_chronic'
                                 }, inplace = True)
hh_composition.head()

,_submission__uuid,highest_educ,avg_age,has_pregnant,has_breastfeeding,num_child_15,num_elderly_65,num_disability,num_chronic
0,001041a4-4559-4f59-843d-ffb0a9e75e22,3.0,31.000000,0.0,0.0,1,0,0,0
1,001e7f5c-2926-4612-93dc-9adbfb63917e,8.0,45.200000,0.0,0.0,0,1,0,0
2,0026f523-33ef-44a1-a528-fa73b18f3502,3.0,61.500000,NaN,NaN,0,0,0,1
3,00302df2-b730-4ba8-ba6a-8ef2699c7c16,6.0,72.500000,NaN,NaN,0,2,0,1
4,003f2628-766c-4585-8024-1df0a38116b5,7.0,31.833333,0.0,0.0,1,2,0,0

In [29]:
main_df = main_df.merge(hh_composition, how = 'left',
                                  left_on = '_uuid', right_on = '_submission__uuid')
main_df

,start,end,note_confidenciality,organizacion,survey_pid,country,departamento,municipio,neighborhood,rural_urban,...,exp_6months_repairhouse_usd,_submission__uuid,highest_educ,avg_age,has_pregnant,has_breastfeeding,num_child_15,num_elderly_65,num_disability,num_chronic
0,2021-05-13T09:29:28.324-06:00,2021-05-13T09:59:31.341-06:00,NaN,1,34,SLV,1193,15748,Condominios delgado,2,...,60.0,3204a982-fb39-426b-9ea2-c957d8b5e222,8.0,31.333333,0.0,0.0,1.0,0.0,0.0,2.0
1,2021-05-13T08:44:14.642-06:00,2021-05-13T09:05:10.406-06:00,NaN,1,34,SLV,1193,15748,Condominios santa maria,2,...,0.0,6f714d43-c5d2-4ad6-900d-06004e2fb241,8.0,44.666667,NaN,NaN,0.0,0.0,0.0,1.0
2,2021-05-13T08:10:59.086-06:00,2021-05-13T08:43:16.923-06:00,NaN,1,34,SLV,1193,15748,Condominios santa maria,2,...,0.0,da9eaf26-c33c-4b32-8a95-d0bdd2a2f4ef,6.0,55.250000,0.0,0.0,0.0,1.0,0.0,2.0
3,2021-05-13T09:53:37.283-06:00,2021-05-13T10:22:11.248-06:00,NaN,1,35,SLV,1193,15748,Condominio delgado,2,...,0.0,5de19d96-c5a8-44ca-81be-619abb979b9e,5.0,22.600000,0.0,0.0,2.0,0.0,0.0,0.0
4,2021-05-13T09:31:16.086-06:00,2021-05-13T09:53:06.037-06:00,NaN,1,35,SLV,1193,15748,Condominio delgado,2,...,0.0,858dbb65-055d-448e-ac10-5be3d4a8f866,5.0,16.666667,0.0,0.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2021-04-29T09:57:28.139-06:00,2021-04-29T10:31:21.208-06:00,NaN,5,30,GT,GT16,GT1601,Barrio canton zona 8,2,...,0.0,08aa6f28-d9d5-41f3-8e71-910954f2fdc0,7.0,35.200000,0.0,0.0,1.0,1.0,0.0,0.0
4994,2021-04-29T10:44:36.260-06:00,2021-04-29T11:07:19.484-06:00,NaN,5,30,GT,GT16,GT1601,Barrio canton zona 8,2,...,0.0,1a80066b-f54e-45b3-b740-00df77b72d14,4.0,47.666667,0.0,0.0,0.0,1.0,0.0,0.0
4995,2021-04-29T14:14:14.013-06:00,2021-04-29T14:39:45.356-06:00,NaN,5,36,GT,GT20,GT2003,San juan ermita,2,...,0.0,b5826f04-558c-4bd2-adaf-7bf45c8fe168,5.0,31.500000,0.0,0.0,0.0,0.0,1.0,0.0
4996,2021-04-29T14:40:13.473-06:00,2021-04-29T15:04:26.498-06:00,NaN,5,36,GT,GT20,GT2003,Sanjuan ermita,2,...,0.0,3342c82a-f4fd-4753-8503-2179bc6712ed,1.0,55.000000,NaN,NaN,0.0,1.0,2.0,0.0
4997,2021-04-29T15:35:35.242-06:00,2021-04-29T18:34:34.251-06:00,NaN,5,36,GT,GT20,GT2003,San juan ermita,2,...,0.0,ccfb10fe-7afa-48d8-bea2-08c40c24d7b6,5.0,45.500000,0.0,0.0,0.0,1.0,0.0,1.0

In [31]:
educ_labels = {1: 'No education',
               2: 'Preschool',
               3: "Primary",
               4: "High school",
               5: "General bac.",
               6: "Technical bac.",
               7: "Uni educ technician",
               8: "Bachelor's",
               9: "Postgraduate"}
            #    0: "Not sure"}
main_df['highest_educ'] = main_df['highest_educ'].map(educ_labels)

# Cost of migration

In [32]:
mig_ext_df = pd.read_csv(root + "dataset-1_central-american-survey/mig_ext_roster.csv", index_col = 0)
print(f"Number of records: {mig_ext_df.shape[0]}")
mig_ext_df

Number of records: 1624

,mig_ext_sex,mig_ext_age,mig_ext_motivo,mig_ext_motivo/1,mig_ext_motivo/2,mig_ext_motivo/3,mig_ext_motivo/4,mig_ext_motivo/5,mig_ext_motivo/6,mig_ext_motivo/7,...,_submission__tags,country,mig_ext_finance_group/1,mig_ext_finance_group/2,mig_ext_finance_group/3,mig_ext_medio_group/1,mig_ext_medio_group/2,mig_ext_medio_group/3,cost_per_attempt,migrated_yn
0,1,20,1 2 6,1,1,0,0,0,1,0,...,[],GT,0,1,0,0,1,0,NaN,1
1,2,35,1 8,1,0,0,0,0,0,0,...,[],HND,0,1,0,0,0,1,800.000000,1
2,1,44,1 2 6,1,1,0,0,0,1,0,...,[],HND,0,0,1,0,0,1,NaN,1
3,2,29,1 8,1,0,0,0,0,0,0,...,[],GT,1,0,0,0,1,0,3466.666667,1
4,2,35,1,1,0,0,0,0,0,0,...,[],SLV,0,1,0,0,1,0,5500.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,1,42,1 2 8,1,1,0,0,0,0,0,...,[],SLV,0,1,0,0,1,0,NaN,1
1620,2,30,1 6 8,1,0,0,0,0,1,0,...,[],HND,0,1,0,0,0,1,NaN,1
1621,2,30,1 6,1,0,0,0,0,1,0,...,[],HND,0,0,0,0,0,1,NaN,1
1622,1,26,1,1,0,0,0,0,0,0,...,[],HND,0,1,0,1,0,0,NaN,1
1623,2,24,1 6 7,1,0,0,0,0,1,1,...,[],HND,0,0,0,0,0,1,NaN,1

In [33]:
print(f"Number of N/A currency: {sum(mig_ext_df['mig_ext_cost_currency'].isna())}")
print(f"Number of N/A cost_total: {sum(mig_ext_df['mig_ext_cost_total'].isna())}")
mig_ext_df['mig_ext_cost_currency'].value_counts()

Number of N/A currency: 807
Number of N/A cost_total: 809

1.0    369
3.0    342
2.0    106
Name: mig_ext_cost_currency, dtype: int64

In [34]:
print(sum(mig_ext_df[~mig_ext_df['mig_ext_cost_total'].isna()]['mig_ext_cost_currency'].isna()))

mig_ext_df.loc[(mig_ext_df['mig_ext_cost_currency'].isna()) & (~mig_ext_df['mig_ext_cost_total'].isna()) \
                & (mig_ext_df['country'] == 'SLV'),
                 'mig_ext_cost_currency'] = 1
mig_ext_df.loc[(mig_ext_df['mig_ext_cost_currency'].isna()) & (~mig_ext_df['mig_ext_cost_total'].isna()) & \
                (mig_ext_df['country'] == 'HND'),
                 'mig_ext_cost_currency'] = 2
mig_ext_df.loc[(mig_ext_df['mig_ext_cost_currency'].isna()) & (~mig_ext_df['mig_ext_cost_total'].isna()) & \
                (mig_ext_df['country'] == 'GT'),
                 'mig_ext_cost_currency'] = 3
print(sum(mig_ext_df[~mig_ext_df['mig_ext_cost_total'].isna()]['mig_ext_cost_currency'].isna()))

3
0

In [35]:
mig_ext_df.loc[mig_ext_df['mig_ext_cost_currency'] == 1, 'mig_ext_cost_total_usd'] = mig_ext_df['mig_ext_cost_total']
mig_ext_df.loc[mig_ext_df['mig_ext_cost_currency'] == 2, 'mig_ext_cost_total_usd'] = mig_ext_df['mig_ext_cost_total'] * 0.041
mig_ext_df.loc[mig_ext_df['mig_ext_cost_currency'] == 3, 'mig_ext_cost_total_usd'] = mig_ext_df['mig_ext_cost_total'] * 0.13

In [81]:
mig_ext_df.to_csv('./data/mig_ext_cleaned.csv', index = False)

In [83]:
main_df.to_csv('./data/main_cleaned.csv', index = False)

# Expenditure categories

In [37]:
main_df.head()

,start,end,note_confidenciality,organizacion,survey_pid,country,departamento,municipio,neighborhood,rural_urban,...,exp_6months_repairhouse_usd,_submission__uuid,highest_educ,avg_age,has_pregnant,has_breastfeeding,num_child_15,num_elderly_65,num_disability,num_chronic
0,2021-05-13T09:29:28.324-06:00,2021-05-13T09:59:31.341-06:00,NaN,1,34,SLV,1193,15748,Condominios delgado,2,...,60.0,3204a982-fb39-426b-9ea2-c957d8b5e222,Bachelor's,31.333333,0.0,0.0,1.0,0.0,0.0,2.0
1,2021-05-13T08:44:14.642-06:00,2021-05-13T09:05:10.406-06:00,NaN,1,34,SLV,1193,15748,Condominios santa maria,2,...,0.0,6f714d43-c5d2-4ad6-900d-06004e2fb241,Bachelor's,44.666667,NaN,NaN,0.0,0.0,0.0,1.0
2,2021-05-13T08:10:59.086-06:00,2021-05-13T08:43:16.923-06:00,NaN,1,34,SLV,1193,15748,Condominios santa maria,2,...,0.0,da9eaf26-c33c-4b32-8a95-d0bdd2a2f4ef,Technical bac.,55.250000,0.0,0.0,0.0,1.0,0.0,2.0
3,2021-05-13T09:53:37.283-06:00,2021-05-13T10:22:11.248-06:00,NaN,1,35,SLV,1193,15748,Condominio delgado,2,...,0.0,5de19d96-c5a8-44ca-81be-619abb979b9e,General bac.,22.600000,0.0,0.0,2.0,0.0,0.0,0.0
4,2021-05-13T09:31:16.086-06:00,2021-05-13T09:53:06.037-06:00,NaN,1,35,SLV,1193,15748,Condominio delgado,2,...,0.0,858dbb65-055d-448e-ac10-5be3d4a8f866,General bac.,16.666667,0.0,0.0,2.0,0.0,0.0,0.0

In [40]:
main_df['exp_6months_currency'].unique()

array([1, 2, 3])

In [41]:
for col in ['exp_monthly_food', 'exp_monthly_drinking_water', 'exp_monthly_water',
            'exp_monthly_rent', 'exp_monthly_electric_power', 'exp_monthly_hygiene',
            'exp_monthly_transport', 'exp_monthly_communication', 'exp_monthly_fuel',
            'exp_monthly_other']:
    convert_curr_to_usd(col, "exp_currency")
    
for col in ['exp_6months_health', 'exp_6months_clothing', 'exp_6months_education',
            'exp_6months_debt', 'exp_6months_social', 'exp_6months_inputs', 
            'exp_6months_savings', 'exp_6months_repairhouse']:
    convert_curr_to_usd(col, "exp_6months_currency")

In [44]:
exp_6m = ['health', 'clothing', 'education',
            'debt', 'social', 'inputs', 
            'savings', 'repairhouse']
# convert to monthly
for col in exp_6m:
    main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6

/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6
/var/folders/kl/zzq83xsx65s2p501hz1mwvlw0000gn/T/ipykernel_12364/3009202470.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  main_df[f'exp_monthly_{col}_usd'] = main_df[f"exp_6months_{col}_usd"] / 6

In [49]:
main_df['remittances_yn'].value_counts()

0     3532
1     1447
99      19
Name: remittances_yn, dtype: int64

In [ ]:
exp_cols = ['exp_monthly_food', 'exp_monthly_drinking_water', 'exp_monthly_water',
            'exp_monthly_rent', 'exp_monthly_electric_power', 'exp_monthly_hygiene',
            'exp_monthly_transport', 'exp_monthly_communication', 'exp_monthly_fuel',
            'exp_monthly_other']
exp_cols = [n + "_usd" for n in exp_cols]
exp_cols = exp_cols + [f"exp_monthly_{x}_usd" for x in exp_6m]

main_df.groupby(['remittances_yn'])[exp_cols]]